name: "Labeler: Promotion"
description: "Promote a model from staging to 'ACTIVE', backing up the currently 'ACTIVE' model."

on:
  # Dispatched via the Actions UI, promotes the staged models from
  # a staged slot into the prediction environment
  workflow_dispatch:
    inputs:
      issues:
        description: "Issues: Promote Model"
        type: boolean
        required: true
      pulls:
        description: "Pulls: Promote Model"
        type: boolean
        required: true
      staged_key:
        description: "The cache key suffix to use for promoting a staged model to 'ACTIVE'. Defaults to 'staged'."
        required: true
        default: "staged"
      backup_key:
        description: "The cache key suffix to use for backing up the currently active model. Defaults to 'backup'."
        default: "backup"

permissions:
  actions: write

jobs:
  promote:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - type: "issues"
            promote: ${{ inputs.issues }}
          - type: "pulls"
            promote: ${{ inputs.pulls }}
    if: ${{ matrix.promote }}
    steps:
      - name: "Promote ${{ matrix.type }} Model"
        uses: jeffhandley/issue-labeler/promote@main
        with:
          type: ${{ matrix.type }}
          staged_key: ${{ inputs.staged_key }}
          backup_key: ${{ inputs.backup_key }}

  output:
    runs-on: ubuntu-latest
    steps:
      - name: "No promotions"
        if: ${{ !inputs.issues && !inputs.pulls }}
        shell: bash
        run: |
          echo "> [!IMPORTANT]" >> $GITHUB_STEP_SUMMARY
          echo "> Neither 'issues' nor 'pulls' was selected for promotion." >> $GITHUB_STEP_SUMMARY
          echo "> These options default to unchecked to prevent accidental promotion." >> $GITHUB_STEP_SUMMARY
