name: "Labeler: Promotion"
description: "Promote a model from staging to 'ACTIVE', backing up the currently 'ACTIVE' model."

on:
  # Dispatched via the Actions UI, promotes the staged models from
  # a staged slot into the prediction environment
  workflow_dispatch:
    inputs:
      issues:
        description: "Issues: Promote Model"
        type: boolean
        required: true
      pulls:
        description: "Pulls: Promote Model"
        type: boolean
        required: true
      staged_key:
        description: "The cache key suffix to use for promoting a staged model to 'ACTIVE'. Defaults to 'staged'."
        required: true
        default: "staged"
      backup_key:
        description: "The cache key suffix to use for backing up the currently active model. Defaults to 'backup'."
        default: "backup"

permissions:
  actions: write

jobs:
  promote-issues:
    if: ${{ inputs.issues }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: "Promote Model for Issues"
        uses: ./promote
        with:
          type: "issues"
          staged_key: ${{ inputs.staged_key }}
          backup_key: ${{ inputs.backup_key }}

  promote-pulls:
    if: ${{ inputs.pulls }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: "Promote Model for Pull Requests"
        uses: ./promote
        with:
          type: "pulls"
          staged_key: ${{ inputs.staged_key }}
          backup_key: ${{ inputs.backup_key }}
