name: "Labeler: Prediction"

on:
  # Only automatically predict area labels when issues are originally opened
  issues:
    types: opened

  # Per to the following documentation:
  # https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#pull_request_target
  #
  # The `pull_request_target` event runs in the context of the base of the pull request, rather
  # than in the context of the merge commit, as the `pull_request` event does. This prevents
  # execution of unsafe code from the head of the pull request that could alter the repository
  # or steal any secrets you use in your workflow. This event allows your workflow to do things
  # like label or comment on pull requests from forks.
  #
  # Only automatically predict area labels when pull requests are first opened
  pull_request_target:
    types: opened

  # Allow dispatching the workflow via the Actions UI, specifying ranges of numbers
  workflow_dispatch:
    inputs:
      issues:
        description: "Issue Numbers (comma-separated list of ranges)"
        type: string

      pulls:
        description: "Pull Numbers (comma-separated list of ranges)"
        type: string

      cache_key:
        description: "The cache key suffix to use for loading the model"
        type: string
        required: true
        default: "ACTIVE"

env:
  LABEL_PREFIX: "area-"
  THRESHOLD: 0.40
  DEFAULT_LABEL: "needs-area-label"

jobs:
  issues:
    # Do not run the workflow on forks outside the 'jeffhandley' org
    if: ${{ github.repository_owner == 'jeffhandley' && (inputs.issues || github.event.issue.number) }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: "Restore issues model from cache"
        if: ${{ inputs.issues || github.event_name == 'issues' }}
        uses: jeffhandley/issue-labeler/restore@main
        with:
          type: issues

      - name: "Predict issue labels"
        if: ${{ inputs.issues || github.event_name == 'issues' }}
        uses: jeffhandley/issue-labeler/predict@main
        with:
          issues:        ${{ inputs.issues || github.event.issue.number }}
          label_prefix:  ${{ env.LABEL_PREFIX }}
          threshold:     ${{ env.THRESHOLD }}
          default_label: ${{ env.DEFAULT_LABEL }}
        env:
          GITHUB_TOKEN:  ${{ github.token }}

  pulls:
    # Do not run the workflow on forks outside the 'jeffhandley' org
    if: ${{ github.repository_owner == 'jeffhandley' && (inputs.pulls || github.event.number) }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: "Restore pulls model from cache"
        if: ${{ inputs.pulls || github.event_name == 'pull_request_target' }}
        uses: jeffhandley/issue-labeler/restore@main
        with:
          type: pulls

      - name: "Predict pull labels"
        if: ${{ inputs.pulls || github.event_name == 'pull_request_target' }}
        uses: jeffhandley/issue-labeler/predict@main
        with:
          pulls:         ${{ inputs.pulls || github.event.number }}
          label_prefix:  ${{ env.LABEL_PREFIX }}
          threshold:     ${{ env.THRESHOLD }}
          default_label: ${{ env.DEFAULT_LABEL }}
        env:
          GITHUB_TOKEN:  ${{ github.token }}
