name: "Labeler: Cache Retention"
description: "Regularly restore the issue-labeler cache entries to prevent cache eviction."

# For more information about GitHub's action cache limits and eviction policy, see:
# https://docs.github.com/actions/writing-workflows/choosing-what-your-workflow-does/caching-dependencies-to-speed-up-workflows#usage-limits-and-eviction-policy

on:
  schedule:
    - cron: "36 4 * * *" # 4:36 every day (arbitrary time daily)

  workflow_dispatch:
    inputs:
      cache_key:
        description: "The cache key suffix to use for loading the model"
        type: string
        required: true
        default: "ACTIVE"

jobs:
  issues:
    # Do not run the job on forks outside the 'jeffhandley' org
    if: ${{ github.repository_owner == 'jeffhandley' }}
    runs-on: ubuntu-latest
    steps:
      - uses: jeffhandley/issue-labeler/restore@main
        with:
          type: issues
          cache_key: ${{ inputs.cache_key || 'ACTIVE' }}
          retention: true

  pulls:
    # Do not run the job on forks outside the 'jeffhandley' org
    if: ${{ github.repository_owner == 'jeffhandley' }}
    runs-on: ubuntu-latest
    steps:
      - uses: jeffhandley/issue-labeler/restore@main
        with:
          type: pulls
          cache_key: ${{ inputs.cache_key || 'ACTIVE' }}
          retention: true
