name: "Release"
description: "Create a new release of the Issue Labeler, publishing the predictor Docker container image to the GitHub container registry."

on:
  workflow_dispatch:
    inputs:
      image-tags:
        description: "The optional semicolon separated list of tags to apply to the published Docker container image. By default, the image can only be referred to by its sha256 hash."

  release:
    types: [published]

env:
  PREDICTOR_IMAGE_NAME: ${{ github.repository }}/predictor
  BASE_IMAGE: mcr.microsoft.com/dotnet/runtime:9.0-noble-chiseled

jobs:
  publish-predictor:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: "Get the image tags from the release tag"
        if: ${{ github.event_name == 'release' }}
        run: echo "IMAGE_TAGS=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: "Get the image tags from the workflow input"
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: echo "IMAGE_TAGS=${{ inputs.image-tags }}" >> $GITHUB_ENV

      - name: "Set up the .NET SDK"
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: 9.0.x

      - name: "Log in to the GitHub Container Registry"
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Publish Predictor"
        run: |
          dotnet publish IssueLabeler/src/Predictor/Predictor.csproj \
            /t:PublishContainer \
            -p DebugType=none \
            -p ContainerBaseImage=${{ env.BASE_IMAGE }} \
            -p ContainerRegistry=ghcr.io \
            -p ContainerImageTags='"${{ env.IMAGE_TAGS }}"' \
            -p ContainerRepository=${{ env.PREDICTOR_IMAGE_NAME }}
